.t0 {
  margin-top: 20px;
}
.t1 {
  color : white;
}
.t2{
    background-color: red;
    color : white;
    height: 160px;
    margin-top: 1080px;
}

.t3{
  border-style:dotted;
  border-color: red;
  border-radius: 50%;
  border-width: thick;
  margin-left: 40px;
  margin-top: -140px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.a0 {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.header0 {
  margin-top: 12px;
}
